<a href="https://colab.research.google.com/github/CarlosJozala/Calculo_Numerico/blob/main/Lista1_CarlosJozala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> Atividade da Lista 1 - LP1

*   Aluno: Carlos Eduardo da Silva Jozala


*   Matrícula: 2015290029

In [ ]:
#Questão 1 - Lista 1

print("Universidade Federal do Amazonas")

In [ ]:
#Questão 2 - Lista 1

print(" ***** ")
print("(* o o *)")
print(" * ^ * ")
print(" * --- *")
print(" ***** ")

In [ ]:
#Questão 3 - Lista 1

valor_sosigenes = 40
valor_jocasta = 35
valor_total = valor_sosigenes + valor_jocasta
print(valor_total)

In [ ]:
#Questão 4 - Lista 1

valor_heraclito = 55
valor_conta = 90
valor_total = valor_conta - valor_heraclito
print(valor_total)

In [ ]:
#Questão 5 - Lista 1
def multiply(amigos,rodízio):
 return amigos * rodízio
print("O total da conta é:",multiply(20,35))

In [ ]:
# Questão 6 - Lista 1
def div(amigos,conta):
  return amigos/conta
print("A divisão total da conta é:",div(180,4))

In [ ]:
#Questão 7 - Lista 1

total_conta = 250.00
amigos = 6
total_por_pessoa = round(total_conta / amigos, 2)
print("Cada Pessoa deve Pagar: R$" + str(total_por_pessoa))

In [ ]:
#Questão 8 - Lista 1

guerreiros = 3
ouro = 50

ouro_por_guerreiro = ouro // guerreiros
ouro_restante = ouro % guerreiros

print("Cada Guerreiro deve Receber " + str(ouro_por_guerreiro) + " moedas de ouro.")
print("O Informante deve Receber " + str(ouro_restante) + " moedas de ouro.")

In [ ]:
# Questão 9 - Lista 1

import math

aresta = 5

area = (3/2) * math.sqrt(3) * (aresta**2)

print("A área do hexagono é: {:.4f} cm²".format(area))

In [ ]:
# Questão 10 - Lista 1

expressao = 30 - 3 ** 2 + 8 // 3 ** 2 * 10 
print(expressao)

21

In [ ]:
# Questão 11 - Lista 1

print(2 + 6)
print(10 - 2)
print(4 * 2)
print(16 / 2)
print(7 % 1)
print(2 ** 3)

In [ ]:
# Questão 12 - Lista 1

nome = input("Informe seu nome: ")
print("Seu nome é:", nome)

In [ ]:
# Questão 13 - Lista 1

string = "Augusta Ada Byron, a Condessa de Lovelace, nasceu em 1815, na Inglaterra."

print(string.lower())

In [ ]:
# Questão 14 - Lista 1

string = "Augusta Ada Byron, a Condessa de Lovelace, nasceu em 1815 na Inglaterra."

print(string.lower())

In [ ]:
# Questão 16 - Lista 1

num = int(input("Informe um número inteiro positivo: "))
print("O dobro do número digitado é:", num*2)